img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.HeroContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    margin-top: -55px;
    /* object-fit: contain; */
}

.HeroContainer > h1 {
    font-size: 70px;
    padding-top: 10px;
    padding-right: 15%;
    font-family: 'Exo 2', sans-serif;
    
    color: black;
    /* text-shadow: -1.5px 0 rgb(212, 175, 55), 0 1.5px rgb(212, 175, 55), 1.5px 0 rgb(212, 175, 55), 0 -1.5px rgb(212, 175, 55); */
    /* text-shadow: 4px 4px 3px rgb(212, 175, 55);
    -webkit-text-stroke: 2px black; */
}

/* .HeroContainer > p {
    font-size: 40px;
    font-family: 'Impact';
    padding-left: 4%;
    color: rgba(255, 255, 255, 0.918);
    text-shadow: 3px 3px 3px rgb(212, 175, 55);
    -webkit-text-stroke: 1.5px black;
} */

@media screen and (max-width: 960px) {
    .HeroContainer > h1 {
        font-size: 60px;
        padding-top: 5px;
    }
}

@media screen and (max-width: 768px) {
    .HeroContainer > h1 {
        font-size: 55px;
        padding-top: 10px;
    }

    /* .HeroContainer > p{
        font-size: 35px;
    } */
}

.Button {
    padding: 12px 26px;
    font-size: 20px;
    border-radius: 2px; 
    outline: none;
    cursor: pointer;

    background-color: #ef233c;
    box-shadow: 0 5px 0 darkred;
    border-radius: 15%;
    color: white;
    padding: 8px 20px;
    margin-top: 25px;
    margin-right: 21%;
}

.Button:hover {
    transition: all 0.3s ease-out;
    background-color: #ce0606;
    transition: 250ms;
}

.Button:active {
    box-shadow: none;
    top: 5px;
}